/* Definindo um esquema de cores escuras */
body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo escura */
    color: #f1f1f1; /* Texto claro */
    margin: 0;
    padding: 0;
}

header {
    background-color: #1c1c1c; /* Tom um pouco mais claro para o menu */
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #f1f1f1;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    color: #ff6347; /* Cor do hover (um laranja suave) */
}

main {
    padding-top: 80px; /* Espaço para o header fixo */
    padding: 20px;
}

h1, h2 {
    color: #ff6347; /* Cor vibrante para títulos */
}

section {
    margin-bottom: 50px;
}

footer {
    background-color: #1c1c1c;
    color: #f1f1f1;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
